@import url("https://www.w3schools.com/w3css/5/w3.css");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@media (max-width: 600px) {
  body {
    font-size: 90%;
  }
}
body {
  font-family: sans-serif;
  background: #f9f9f9;
}
