<!-- _includes/header.html -->
<div class="w3-bar w3-red">
  <a href="index.html" class="w3-bar-item w3-button">Home</a>
  <a href="form.html" class="w3-bar-item w3-button w3-hide-small">Submit</a>
  <a href="view_submissions.html" class="w3-bar-item w3-button w3-hide-small">View</a>
  <a href="view_submissions.html" class="w3-bar-item w3-button w3-hide-small">Link 2</a>
  <a href="view_submissions.html" class="w3-bar-item w3-button w3-hide-small">Link 3</a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">☰</a>
</div>
